 <nav class="navbar navbar-default bg-secondary">
  <div class="container-fluid">
    <div class="navbar-header">
      <p>Blog Details</p>
    </div>
    <a [routerLink]="['adminpanel']" id="text" class="text-dark">Admin-panel</a>
  </div>
</nav>


<!-- <table class="mt-5 table table-dark table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>descriptaion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of data">
      <td>{{ i.id }}</td>
      <td> <a [routerLink]="['blogdetails',i.id]" >{{i.title}}</a></td>
      <td>{{ i.description }}</td>

    </tr>
  </tbody>
</table> --> 

<router-outlet></router-outlet>